<div class="">
	<audio id="milk_" src="static/music/niunai.mp3"></audio>
	<audio id="pasture_" src="static/music/nainiu.mp3"></audio>
	<audio id="certification_" src="static/music/guzhang.mp3"></audio>
	<audio id="kingdom_" src="static/music/tianmao.mp3"></audio>
</div>
<div class="pano_icon">
	<div class="pano_icon_">
		<div class="_pano"><img src="static/icon.png" alt="" class="icon" id="kingdom"></div>
		<div class="_pano"><img src="static/icon.png" alt="" class="icon" id="pasture"></div>
		<div class="_pano"><img src="static/icon.png" alt="" class="icon" id="milk"></div>
		<div class="_pano"><img src="static/icon.png" alt="" class="icon" id="certification"></div></div>
	<div class="font_prom">你已经解锁了<span>0</span>个菁智的秘密</div>
</div> 
<div class="pano pano_king kingdom animated none">
	<div class="king king4">
		<img src="static/tour/farm1.png" alt="" class="farm farm1 animated fadeInDown delay1"><br>
		<img src="static/tour/farm2.png" alt="" class="farm farm2 animated fadeInDown delay1"><br>
		<!-- <img src="static/tour/farm3.png" alt="" class="farm3 animated bounceInDown delay2"> -->
		<div class="map">
			<img src="static/tour/farm4.png" alt="" class="farm farm4 animated fadeInDown delay2"><br>
			<img src="static/tour/lv.png" alt="" class=" lv animated fadeInDown delay3"><br>
			<img src="static/tour/wei.png" alt="" class=" wei animated fadeInDownBig delay5"><br>
			<img src="static/tour/mai.png" alt="" class=" mai animated fadeInDownBig delay4"><br>
		</div>
		<div class="desc_ animated fadeInDown delay6">
			尊贵的有机原产地-丹麦<br>是最早立法规范有机食品的国家<br>被评为全球食品最安全的国家<br>高标准工厂为丹麦皇室生产御用有机食品
		</div>
	</div>
</div> 
<div class="pano pano_farm pasture animated none">
	<div class="king king4">
		<img src="static/tour/farm1.png" alt="" class="farm farm1 animated fadeInDown delay1"><br>
		<img src="static/tour/farm5.png" alt="" class="farm farm5 animated fadeInDown delay1"><br>
		<span class="title animated fadeInUp delay2">有机牧场 自然纯净</span><br>
		<div class="add_farm animated fadeInLeft delay3">
			<img src="static/tour/farm6.png" alt="" class="farm farm6"><br>
			<img src="static/tour/add.png" alt="" class="farm add scale">
		</div>
		<div class="add_farm animated fadeInRight delay4">
			<img src="static/tour/farm7.png" alt="" class="farm farm7">
			<img src="static/tour/add2.png" alt="" class="farm add2 scale">
		</div>
		<div class="add_farm animated fadeInLeft delay5">
			<img src="static/tour/farm8.png" alt="" class="farm farm8">
			<img src="static/tour/add3.png" alt="" class="farm add3 scale">
		</div>
		<!-- <div class="method">
			<div class="first animated flash delay3">使用珍稀有机鲜奶一次入罐，而<br>非脱脂奶粉二次加工，更能锁住<br>第一道新鲜营养<br><img src="static/tour/milk2.png" alt="" class="milk2"></div>
			<div class="second animated flash delay4">脱脂奶粉二次加工，<br>更易流失营养<br><img src="static/tour/milk3.png" alt="" class="milk3"></div>
		</div> -->
	</div>
</div>
<div class="pano pano_milk milk animated none">
	<div class="king king4">
		<img src="static/tour/farm1.png" alt="" class="farm farm1 animated fadeInDown delay1"><br>
		<img src="static/tour/milk1.png" alt="" class="farm farm5 animated fadeInDown delay1"><br>
		<div class="decs  animated fadeInDown delay2">有机鲜奶（而非脱脂奶粉）一次入罐<br>快速锁住新鲜营养<br>确保高标准鲜活有机</div>
		<div class="compare  animated fadeInDown delay3">有机鲜奶一次入罐和脱脂奶粉二次加工对比</div>
		<div class="method">
			<div class="first animated fadeInDown delay4">使用珍稀有机鲜奶一次入罐，<br>而非脱脂奶粉二次加工，更能<br>锁住第一道新鲜营养<br><img src="static/tour/milk2.png" alt="" class="milk2"><img src="static/tour/da1.png" alt="" class="da1 scale1"><img src="static/tour/line.png" alt="" class="line"></div>
			<div class="second animated fadeInDown delay5">脱脂奶粉二次加工，<br>更易流失营养<br><img src="static/tour/milk3.png" alt="" class="milk3"><img src="static/tour/da2.png" alt="" class="da2 "></div>
		</div>
	</div>
</div>
<div class="pano pano_certification certification animated none">
	<div class="king king4">
		<img src="static/tour/farm1.png" alt="" class="farm farm1 animated fadeInDown delay1"><br>
		<img src="static/tour/auth.png" alt="" class="farm farm5 animated fadeInDown delay1"><br>
		<div class="title animated fadeInDown delay2">权威认证 尊崇品质</div>
		<div class="decs animated fadeIn delay3">菁智同时拥有<br>欧盟、丹麦、中国三大权威有机认证<br>其中丹麦是全球高端有机乳品的标准制定者<br>其严苛标准是享誉全球的有机认证标杆<br></div>
		<div class="method">
			<div class="first animated fadeInDown delay4"><img src="static/tour/auth1.png" alt="" class="auth1 animated flipInY"><br>欧盟有机认证</div>
			<div class="second animated fadeInDown delay5"><img src="static/tour/auth2.png" alt="" class="auth2 animated flipInY"><br>中国有机认证</div>
			<div class="third animated fadeInDown delay6"><img src="static/tour/auth3.png" alt="" class="auth3 animated flipInY"><br>丹麦有机认证</div>
		</div>
	</div>
</div>
<div class="mask" ng-show="mask=='show'"></div>
<div class="tan_rule" ng-show="mask=='show'">
	<img src="static/index/close.png" alt="" class="close" ng-click="mask='close'"><br>
	<div class="title">VR探秘攻略</div><br>
	<div class="desc">
		<img src="static/tour/tu.png" alt="" class="tu">
		你即将<span>进入</span><br>神秘的菁智<span>有机世界 …… </span><br>在每个场景中都隐藏着<span>秘密</span><img src="static/tour/quan.png" alt="" class="quan"><br>等待着你去<span>解锁</span><br>解锁<span>7个</span>菁智秘密<br>就有机会<br>让菁智有机承包<span>宝宝一季度的口粮</span>
	</div>
	<div class="vr_prom">
		<img src="static/tour/vr.png" alt="" class="vr"  ng-click="mask='close'"><br>
		<img src="static/tour/prom.png" alt="" class="prom">
	</div>
</div>

