<div class="mask"></div>
<div class="tan_rule">
	<!-- <img src="static/index/close.png" alt="" class="close" ng-click="goVr()"><br> -->
	<div class="title">VR探秘攻略</div><br>
	<div class="desc">
		<img src="static/tour/tu.png" alt="" class="tu">
		你即将<span>进入</span><br>神秘的菁智<span>有机世界 …… </span><br>在每个场景中都隐藏着<span>秘密</span><img src="static/tour/quan.png" alt="" class="quan"><br>等待着你去<span>解锁</span><br>解锁<span>7个</span>菁智秘密<br>就有机会<br>让菁智有机承包<span>宝宝一季度的口粮</span>
	</div>
	<div class="vr_prom">
		<img src="static/tour/vr.png" alt="" class="vr scale"  ng-click="goVr()"><br>
		<img src="static/tour/prom.png" alt="" class="prom">
	</div>
</div>

